<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Add Note</title>
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <style>
            body {
              margin: 0;
              font-family: "Lucida Grande";
              background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg");
              background-size: cover;
              box-sizing: border-box;
            }
            i{
                font-size: 48px;
                color: white;
            }
            .navbar{
              display: flex;
              align-items: center;
              padding: 20px;
              background-color: rgba(235,159,160, 0.4);
            }
            nav{
              flex: 1;
              text-align: right;
            }
            nav ul {
              display: inline-block;
              list-style: none;
            }
            nav ul li{
              display: inline-block;
              margin-right: 70px;
            }
            nav ul li a{
              text-decoration: none;
              font-size: 20px;
              color: white;
              font-family: sans-serif;
            }
            nav ul li a:hover{
              color: #26113c;
            }
            .navbar img{
                width: 160px;
                height: 120px;
            }
            .navbar h2{
                color: #26113c;
                font-size: 28px;
            }
            .container{
                max-width: 500px;
                width: 100%;
                margin: 20px auto;
                box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
                padding: 30px;
                border: 1px solid #ddd;
            }
            .container h2{
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 25px;
                color: #c4938e;
                text-align: center;
            }
            form{
                margin-top: 10%;
                
            }
            .to,.from,.title,.message,.submit-btn{
                margin-bottom: 15px;
                display: flex;
                align-items: center;
            }
            label{
                width: 200px;
                color: #000000;
                margin-right: 10px;
                font-size: 18px;
            }
            input,textarea{
                background: transparent;
                width: 100%;
                font-size: 15px;
                padding: 10px 10px;
            }
            textarea{
                width: 100%;
                height: 125px;
                resize: none;
            }
            
        </style>
    </head>
    <body>
        <div class="navbar">
            <i class='bx bxl-django'></i>
            <nav>
              <ul id='MenuItems'>
                <li><a href='http://localhost:8000/lab-4'>HOME</a></li>
                <li><a href='http://localhost:8000/lab-4/add-note/'>ADD NOTE</a></li>
                <li><a href='http://localhost:8000/lab-4/note-list/'>NOTE CARD</a></li>
              </ul>
            </nav>
          </div>
        <div class="container">
            <h2>ADD NOTE FORM</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="to">
                    <label>To :</label>
                    <input id="To" type="text" name="To" />
                </div>
                <div class="from">
                    <label>From :</label>
                    <input id="From" type="text" name="From" />
                </div>
                <div class="title">
                    <label>Title :</label>
                    <input id="Title" type="text" name="Title" />
                </div>
                <div class="message">
                    <label>Message :</label>
                    <textarea name="Message" id="Message" ></textarea>
                </div>
                <div class="submit-btn">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </body>
</html>