<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes List</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <style>
      body {
      margin: 0;
        font-family: "Lucida Grande";
        background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg");
        background-size: cover;
        box-sizing: border-box;
      }
      i{
        font-size: 48px;
        color: white;
      }
      .navbar{
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: rgba(235,159,160, 0.4);
      }
      nav{
        flex: 1;
        text-align: right;
      }
      nav ul {
        display: inline-block;
        list-style: none;
      }
      nav ul li{
        display: inline-block;
        margin-right: 70px;
      }
      nav ul li a{
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-family: sans-serif;
      }
      nav ul li a:hover{
        color: #26113c;
      }
      .navbar h2{
      color: #26113c;
      font-size: 28px;
      }
      .navbar img{
        width: 160px;
        height: 120px;
      }
      table{
        width: 1000px;
        margin-top: 10%;
        margin-left: 20%;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }
      th,td{
        padding: 15px;
        border-bottom: 1px solid #ddd;
      }
      .pesan{
          text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <i class='bx bxl-django'></i>
      <nav>
        <ul id='MenuItems'>
          <li><a href='http://localhost:8000/lab-4'>HOME</a></li>
          <li><a href='http://localhost:8000/lab-4/add-note/'>ADD NOTE</a></li>
          <li><a href='http://localhost:8000/lab-4/note-list/'>NOTE CARD</a></li>
        </ul>
      </nav>
    </div>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Note model -->
      <!-- EXAMPLE SECTION -->
      {% for i in Notes %}
      <tr>
        <td>{{i.To}}</td>
        <td>{{i.From}}</td>
        <td>{{i.Title}}</td>
        <td class="pesan">{{i.Message}}</td>
      </tr>
      {% endfor %}
      
      <!-- END SECTION -->
    </table>
  </body>
</html>