<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes List</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <style>
      body {
        margin: 0;
        font-family: "Lucida Grande";
        background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?cs=srgb&dl=pexels-stephan-seeber-1261728.jpg&fm=jpg");
        background-size: cover;
        box-sizing: border-box;
      }
      i{
        font-size: 48px;
        color: white;
      }
      .navbar{
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: rgba(235,159,160, 0.4);
      }
      nav{
        flex: 1;
        text-align: right;
      }
      nav ul {
        display: inline-block;
        list-style: none;
      }
      nav ul li{
        display: inline-block;
        margin-right: 70px;
      }
      nav ul li a{
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-family: sans-serif;
      }
      nav ul li a:hover{
        color: #26113c;
      }
      .navbar h2{
      color: #26113c;
      font-size: 28px;
      }
      .navbar img{
        width: 160px;
        height: 120px;
      }
      .container{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        justify-content: center;
      }
      .card {
        border: 1px solid #ddd;
        width: 500px;
        height : 200px; 
        text-align: center;
      }

    </style>
  </head>
  <body>
    <div class="navbar">
        <i class='bx bxl-django'></i>
      <nav>
        <ul id='MenuItems'>
          <li><a href='http://localhost:8000/lab-4'>HOME</a></li>
          <li><a href='http://localhost:8000/lab-4/add-note/'>ADD NOTE</a></li>
          <li><a href='http://localhost:8000/lab-4/note-list/'>NOTE CARD</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <table>
        {% for i in Notes %}
        <div class="card">
          <h3 class="card-title">{{i.Title}}</h3>
          <h5 class="card-to-from">From: {{i.From}}</h5>
          <h5 class="card-to-from">To: {{i.To}}</h5>
          <p class="card-text">{{i.Message}}</p>
        </div>
        {% endfor %}
      </table>
    </div>
  </body>
</html>