<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      body {
      margin: 0;
      font-family: "Lucida Grande";
      background-image: url("https://images6.alphacoders.com/106/1065654.png");
      background-size: cover;
      }
    
      a {
        text-decoration: none;
      }

      .top-web {
        height: 65px;
        width: 100%;
        background-color: rgba(4, 25, 29, 0.9);
        margin: 0 auto;
        top: 0px;
        z-index: 10;
      }

      .logo {
        width: 95px;
      }

      .header-left {
        float: left;
      }

      .header-right {
        float: right;
        background-color: rgba(255, 255, 255, 0.3);
        transition: all 0.5s;
      }
      
      .header-right:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }

      .header-right a {
        line-height: 65px;
        padding: 0 25px;
        color: white;
        display: block;
      }

      table,th,td{
        border: 1px solid white;
      }

      table{
        width: 100%;
        color:antiquewhite;
        background-color: black;
      }
    </style>
  </head>
  <body>
    <div class="top-web">
      <div class="header-left">
        <img class="logo" src="https://3.bp.blogspot.com/-0ig7g4nVqJY/W2T3yGpI4vI/AAAAAAAAASA/t9svN6HTpy0kxREvWmE0BXzs3RHNcwkcQCLcBGAs/s1600/platform.png">
      </div>
      
      <div class="header-right">
        <a href="http://127.0.0.1:8000/lab-3/add" class="add">Add Friend</a>
      </div>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for i in friends %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.npm}}</td>
        <td>{{i.DOB}}</td>
      </tr>
      {% endfor %}
      
      <!-- END SECTION -->
    </table>
  </body>
</html>