<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Note model -->
      <!-- EXAMPLE SECTION -->
      {% for i in Notes %}
      <tr>
        <td>{{i.To}}</td>
        <td>{{i.From}}</td>
        <td>{{i.Title}}</td>
        <td>{{i.Message}}</td>
      </tr>
      {% endfor %}
      
      <!-- END SECTION -->
    </table>
  </body>
</html>
