<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
      body {
      position: absolute;
      top: 30%;
      left: 30%;
      margin: 0;
      font-family: "Lucida Grande";
      background-image: url("https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?cs=srgb&dl=pexels-stephan-seeber-1054218.jpg&fm=jpg");
      background-size: cover;
      }


    </style>
  </head>
  <body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
  </body>
</html>
